@model IEnumerable<WebApplication4.Models.Item_table>

@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Catalogue";
}
<h2>Catalogue</h2>
<table class="table">

@foreach (var item in Model) {
   
        <div class="row">
            <div class"="col-md-6">
                <img src="@(item.prod_pic)" width="350" height="350" />
                @Html.DisplayFor(modelItem => item.prod_name)
        
                @Html.DisplayFor(modelItem => item.prod_des)
       
                @Html.DisplayFor(modelItem => item.prod_sbid)
        
                @Html.DisplayFor(modelItem => item.prod_cbid)
            </div>
       </div>
}

</table>
