@model IEnumerable<WebApplication4.Models.Item_table>
@{
    ViewBag.Title = "Auction";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<fieldset>
    <legend> User DashBoard </legend>

@if (Session["user_name"] != null)
{<text>
    Welcome @Session["user_name"].ToString() </text>
    @Html.ActionLink("Logout","Login", "Login");
    } </fieldset>
    <html>
    <head>
        <title>3 Auctioneers</title>
        <link href="~/Content/jquery.nice-number.css" rel="stylesheet" />

    </head>
    <body>
        <script>
            // Set the date we're counting down to
            // Get date from database and update here, then is global! yay for clever gordon
            var countDownDate = new Date("May 8, 2018 15:50:00").getTime();

            // Update the count down every 1 second
            var x = setInterval(function () {

                // Get todays date and time
                var now = new Date().getTime();

                // Find the distance between now an the count down date
                var distance = countDownDate - now;

                // Time calculations for days, hours, minutes and seconds
                var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                // Display the result in the element with id="demo"
                document.getElementById("demo").innerHTML = days + "d " + hours + "h "
                    + minutes + "m " + seconds + "s ";

                // If the count down is finished, write some text
                if (distance < 0) {
                    clearInterval(x);
                    document.getElementById("demo").innerHTML = "SOLD!";
                }
            }, 1000);
        </script>
        <h3 style="color:#ffffff;text-align:center !important;">Current Item</h3>
        @foreach (var item in Model)
        {
            if (item.prod_active == 1)
            {
                <div class="row">
                    <div class="col-md-6">
                        <img src="@(item.prod_pic)" width="350" height="350" />
                    </div>
                    <div class="col-md-6">
                        @using (Html.BeginForm("Edit",
                                               "Home",
                                               FormMethod.Post,
                        new { enctype = "multipart/form-data" }))
                        {

                            <h3 id="prod-name">@item.prod_name</h3>
                            <label>Description:</label><br />
                            @item.prod_des<br />
                            <label>Minimum sale amount:</label><br />
                            <p>R @item.prod_sbid<br /></p>
                            <label>Current Bid:</label><br />
                            <p>R  @item.prod_cbid<br /><br /></p>

                            @Html.AntiForgeryToken()
                            @Html.EditorFor(model => item.prod_cbid, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => item.prod_cbid, "", new { @class = "text-danger" })<br />
                            <p style="padding-left:13%;"><input style="width: 10em;  height: 3em;" type="submit" value="Bid!" class="btn btn-default"></p>
                        }
                    </div>
                </div>
            }
        }

    </body>


</html>
